*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --btn-primary-color:#417F68;
    --background-color:#F3EAE3;
    --text-gray-color: #7F7E86;
    --white-color:#fff;
    --font-montserrat:'Montserrat', sans-serif;
    --font-fraunces:'Fraunces', serif;
    --font-size-default: 0.875rem;
}

body {
    background-color: var(--background-color);
    /* display: flex; 
    justify-content: center;
    align-items: center; */
}

main {
    margin: 1.5em 1em;
}

.product-image-container {
    margin: 0;
    padding: 0;
    font-size: 0;
    height: 240px;
    background-image: url(images/image-product-mobile.jpg);
    background-size: cover;
    border-radius: 15px 15px 0 0 ;
}

.product-image-container img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.product-info-container {
    padding: 1em;
    background-color: var(--white-color);
    border-radius: 0 0 15px 15px;
}

.product-info-container .product-catagorie {
    color: #7F7E86;
    font-family: var(--font-montserrat);
    font-size:var(--font-size-default);
    font-weight: 500;
    letter-spacing: 0.32em;
}

.product-info-container h1 {
    margin: 0.5em 0 0.5em 0;
    color: var(--btn-primary-color);
    font-family: var(--font-fraunces);
    font-size: 2.1875rem;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.93px;
}

.product-info-container .product-description {
    color: #7F7E86;
    font-family: Montserrat;
    font-size: var(--font-size-default);
    font-weight: 500;
    line-height: 1.8em;
}

.product-info-container .product-price-container {
    margin-top: 1em;
    display: flex;
    align-items: baseline;
}

.product-price-container h2 {
    font-family: var(--font-fraunces);
    color: var(--btn-primary-color);
    margin: 0.1em 0 0.7em 0em ;
}

.product-price-container p {
    text-decoration: line-through;
}

.product-info-container button {
    width: 100%;
    padding: 0.8em;
    background-color: var(--btn-primary-color);
    color: var(--white-color);
    border-radius: 0.5em;
    border: none;
    font-size: 1rem;
    font-weight: 500;
}

.product-info-container button:active {
    background-color: #184131;
} 

/* Desktop Screen */ 

@media only screen and (min-width: 376px) {
    body {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        display: flex;
        width: 34em;
    }
    .product-image-container {
        background-image: url(images/image-product-desktop.jpg);
        width: 50%;
        height: 410px;
        background-size: cover;
        border-radius: 15px 0 0 15px;
    }
    .product-info-container {
        width: 50%;
        height: 410px;
        border-radius: 0 15px 15px 0;
    }
}