*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --btn-primary-color:#417F68;
    --background-color:#F3EAE3;
    --text-gray-color: #7F7E86;
    --white-color:#fff;
    --font-montserrat:'Montserrat', sans-serif;
    --font-fraunces:'Fraunces', serif;
    --font-size-default: 0.875rem;
}

body {
    background-color: var(--background-color);
}